<template>
    <div>
        <ul>
            <li 
                v-for="(star, index) in maxStars" 
                class="star"
                :class="{ 'active' : star <= initialGrade }"
                :key="index"></li>
        </ul>
        <div class="summary">{{ initialGrade }} of {{ maxStars }}</div>
    </div>
</template>

<script>
export default {
    props: {
        maxStars: {
            type: Number
        },
        initialGrade: {
            type: Number
        }
    }
}
</script>