<template>
    <div 
        class="jngr-input jngr-input-textarea" 
        :class="{'jngr-input-text_novalidation': !showValidation}"
        :style="$attrs.disabled ? 'opacity: .5' : 'opacity: 1'"
    >
        <transition name="fade-quick" appear>
            <span v-if="showLabel" class="jngr-input-label">{{label || $attrs.placeholder}}</span>
        </transition>
        
        <textarea 
            ref="Input"  
            v-bind="$attrs"
            v-on="listeners"            
            @focus="makeLabelVisible()"
            @blur="hideLabel($event)"
        ></textarea>
        
        <div v-if="icon" class="jngr-input__icon" :style="`height: ${inputHeight}px`" @click.stop="$emit('click')">
            <span v-if="loading" class="jngr-loader jngr-loader_style-1 jngr-spin-cw"></span>
            <span v-else :class="icon"></span>
        </div>
        
        <div v-if="!icon && loading" class="jngr-input__loader" :style="`height: ${inputHeight}px`">
            <span class="jngr-loader jngr-loader_style-2 jngr-spin-cw"></span>
        </div>
        
        <Validation v-if="showValidation" :valid="valid" :message="validationMessage" :note="note"/>        
    </div>
</template>

<script>
import Validation from '@/lib-components/form/validation/Validation'
import Note from '@/lib-components/form/note/Note'

export default {
    name: 'JnGrTextarea',

    inheritAttrs: false,

    components: {
        Validation,
        Note
    },
    props: {
        label: {type: String},
        note: {type: String},
        importedData: [String, Number],
        icon: { type: String, default: null },
        loading: { type: Boolean, default: false },
        showValidation: { type: Boolean, default: true },
        valid: { type: Boolean, default: true },
        validationMessage: { type: String }
    },
    emits: ['input'],
    data() {
        return {
            inputLabel: this.label,
            showLabel: false,
            inputHeight: null
        }
    },
    computed: {
        listeners() {
            return {
                ...this.$listeners,
                input: event => this.$emit('input', event.target.value)
            }
        }
    },
    mounted() {
        this.inputHeight = this.$refs['Input'].offsetHeight
        if (this.autofocus) this.$refs['Input'].focus()
    },
    methods: {
        makeLabelVisible() {
            this.showLabel = true
        },
        hideLabel(event) {
            if (event.target.value === '') this.showLabel = false
        }
    },
    watch: {
        inputValue: {
            handler(val) { if (val) this.showLabel = true },
            immediate: true
        },
        importedData: {
            handler(val) { if (val) this.inputValue = val },
            immediate: true
        }
    }
}
</script>

<style lang="sass">
@import 'src/assets/styles/styles'
</style>