<script>
import Vue from 'vue';
// Uncomment import and local "components" registration if library is not registered globally.
// import { JnGrTextInput } from '@/entry.esm';

export default Vue.extend({
  name: 'ServeDev',
  components: {
  //  JnGrTextInput,
  },
  data() {
    return {
      check: false,
      checkboxStatus: false,
      testValue: null,
      options: [
        {name: 'Maxim', value: 'maxim'},
        {name: 'Lison', value: 'lison'}
      ]
    }
  },
  mounted() {
    this.checkCallback()
  },
  methods: {
    checkCallback() {
      setTimeout(() => {
        this.check = true
      },3000)
    }
  }
});
</script>

<template>
  <div id="app" style="max-width: 1024px;">
    testValue {{testValue}}
    check {{check}}

    <JnGrTextInput
      v-model="testValue"
      placeholder="Enter your name"
      note="ИНН, ОГРН, юридический адрес – для юридического лица; ФИО – для физического лица"
      mask="XXX-XXX"
    />

    <JnGrSelectInput 
      label="Select option"
      note="ИНН, ОГРН, юридический адрес – для юридического лица; ФИО – для физического лица" 
      :options="options"
      @value="testValue = $event"
      :default="options[1]"
    />
    <JnGrSelectInput 
      label="Select option"
      note="ИНН, ОГРН, юридический адрес – для юридического лица; ФИО – для физического лица" 
      :options="options"
      @value="testValue = $event"
      placeholder="тестовый текст"
    />

    <JnGrTextarea v-model="testValue" placeholder="placeholder"/>
    
    <JnGrCheckbox label="label" :is-checked="check" @update:status="checkboxStatus = $event" />
  </div>
</template>

<style lang="sass">
// @import 'src/assets/styles/styles'
</style>

