//input basic setup
input, select, textarea
    outline: none
    border: none
    border-radius: 0
textarea
    display: block
    font-family: inherit
    font-size: inherit
    resize: vertical

//Removes placeholder on focus
input, textarea
    &::-webkit-input-placeholder
        color: #333
        opacity: 0.8 
    &:-moz-placeholder
        color: #333
        opacity: 0.8 
    &::-moz-placeholder
        color: #333
        opacity: 0.8 
    &:-ms-input-placeholder
        color: #333
        opacity: 0.8

    &:focus::-webkit-input-placeholder
        opacity: 0
    &:focus:-moz-placeholder
        opacity: 0
    &:focus::-moz-placeholder
        opacity: 0
    &:focus:-ms-input-placeholder
        opacity: 0

//Validation
.jngr-validation
    position: relative
    min-height: 20px
    &__mark
        box-sizing: border-box
        border-top: 1px solid $input-border
        &_active
            border-top: 1px solid $not-valid
    &__text
        span
            display: block
            color: $not-valid
            font-size: .7em
            text-align: right

.jngr-validation_transparent
    .jngr-validation__mark
        box-sizing: border-box
        border-top: 1px solid transparent
    .jngr-validation__mark_active
        border-top: 1px solid $not-valid

.jngr-validation__checkbox
    .jngr-checkbox
        border-color: $not-valid
        &::before
            color: $not-valid
    .jngr-checkbox__label
        color: $not-valid

//Note
.jngr-note
    box-sizing: border-box
    padding: 0 2px
    margin-top: 3px
    font-size: .7em

//Form elements

//Input
.jngr-input
    position: relative
    >input, select, textarea
        box-sizing: border-box
        padding: 0 15px
        height: 60px
        width: 100%
        background-color: $invert

.jngr-input_m
    >input, select
        height: 40px
        font-size: .8em
    .jngr-input-label
        margin-top: 2px
        font-size: .6em

.jngr-input-text, .jngr-input-select, .jngr-input-textarea
    >input, >select, >textarea
        border: 1px solid $input-border
        border-bottom: none
.jngr-input-text_novalidation, .jngr-input-select_novalidation
    >input
        border-bottom: 1px solid $input-border

.jngr-input-label
    position: absolute
    
    margin-top: 5px
    margin-left: 15px

    font-size: .7em
    color: $monochrome-light

    z-index: 1000
    
.jngr-input__icon, .jngr-input__loader
    width: 3em
    height: 100%
    position: absolute
    right: 1px
    top: 1px
    background-color: $invert

    display: flex
    align-items: center
    justify-content: center

    cursor: pointer
    span
        display: block

//Select
select
    appearance: none //Убирает родную стрелочку
    background-color: transparent
    border: none
    padding: 0 1em 0 0
    margin: 0
    width: 100%
    font-family: inherit
    font-size: inherit
    cursor: inherit
    line-height: inherit
    outline: none
    color: $main-dark
select::-ms-expand //Убирает родную стрелочку в IE
    display: none

.jngr-input-select
    position: relative
    display: flex
    align-items: center
    justify-content: flex-end
.jngr-input-select__arrow
    position: absolute
    width: 40px
    display: flex
    justify-content: center
    align-items: center
    span
        display: block
        color: $monochrome-light
        font-size: .8em
        transition: all .15s ease
.jngr-input-select__arrow_down
    span
        transform: rotate(90deg)

.jngr-input-select__item
    padding: 10px 0

.jngr-input-select_filter
    min-width: 300px
    select
        height: 40px
        font-size: .8em
    .jngr-input-select
        border-bottom: 1px solid $input-border

//File
.jngr-input-file
    &__label
        margin-bottom: 10px
        span
            font-size: .9em    

    &__file
        padding: 0 0 10px
        display: flex
        align-items: center
        font-size: .9em
    &__container
        box-sizing: border-box
        padding: 10px
    &__icon
        span
            display: block
            font-size: 1.2em

    &__input
        position: relative
        display: flex
        align-items: center
        input
            opacity: 0
            width: 0.1px
            height: 0.1px
            position: absolute
        label
            display: block
            position: relative
            width: 150px
            height: 40px
            border-radius: 3px
            background-color: $grey
            box-shadow: 0px 0px 2px 1px rgba($shaddow, .4)
            font-size: .9em
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            &:active
                background-color: darken($grey, 5)
    
    &__gallery
        width: 100%
        margin-bottom: 10px
        display: flex
        justify-content: flex-start
        flex-direction: row
        flex-wrap: wrap
        &__item
            position: relative
            width: 320px
            height: 250px
            box-sizing: border-box
            margin-bottom: 5px
            margin-right: 5px
            background-position: center
            background-size: cover
            &__delete
                position: absolute
                width: 25px
                height: 25px
                right: 0
                background-color: $white
                display: flex
                justify-content: center
                align-items: center
                span
                    display: block
                    font-size: .9em
                    cursor: pointer

            &__name
                position: absolute
                bottom: 0
                box-sizing: border-box
                padding: 10px
                width: 100%
                background: rgba($white, .8)
                span
                    font-size: .8em

.jngr-input-file__gallery__item__loader
    margin-left: 160px


.jngr-input-file__preview
    position: relative
    width: 100%
    margin-bottom: 10px
    max-width: 480px
    &__item
        width: 100%
    &__delete
        position: absolute
        width: 25px
        height: 25px
        right: 0
        top: 0
        background-color: $invert
        display: flex
        justify-content: center
        align-items: center
        span
            display: block
            font-size: .9em
            cursor: pointer
    &__name
        position: absolute
        bottom: 0
        box-sizing: border-box
        padding: 10px
        width: 100%
        background: rgba($invert, .8)
        span
            font-size: .8em
    
//Textarea

.jngr-input-textarea
    >textarea
        padding: 20px 15px 15px

//Checkbox
.jngr-checkbox__wrapper
    display: inline-block
    .jngr-validation__text
        margin-top: 3px
.jngr-checkbox__container
    display: flex
    align-items: center
    span
        display: inline-block
.jngr-checkbox
    width: 20px
    height: 20px
    border: 1px solid $monochrome-light
    transition: all .25s ease
    cursor: pointer
.jngr-checkbox_active
    position: relative
    background-color: $monochrome-ultralight
    display: flex
    align-items: center
    justify-content: center
    &::before
        content: '\2714'
        color: $monochrome-dark
        position: absolute
        display: block
        transition: all .25s ease

.jngr-checkbox__label
    font-size: .9em
    margin-left: 5px