//Loaders

.jngr-loader
    display: block
    position: absolute
    border-top: 1px solid transparent
    border-left: 1px solid rgba($loader, .8)
    border-bottom: 1px solid transparent
    border-right: 1px solid rgba($loader, .8)
    border-radius: 100%

.jngr-loader_style-1
    width: 15px
    height: 15px
    border-width: 1.5px

.jngr-loader_style-2
    width: 10px
    height: 10px
    border-width: 1.5px

.jngr-loader_style-3
    width: 30px
    height: 30px
    border-width: 4px
    opacity: .4

.jngr-spin-cw
    animation: spin-cw .5s linear infinite

@keyframes spin-cw
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)