<template>
    <div class="jngr-input" :class="{'jngr-input-select_novalidation': !showValidation}">
        <transition name="fade-quick" appear>
            <span v-if="labelActive && showLabel && selectedValue !== ''" class="jngr-input-label">{{label}}</span>
        </transition>
        
        <div ref="Select" class="jngr-input-select">
            <select
                v-model="selectedValue"              
                v-bind="$attrs"
                v-on="listeners"
                @focus="makeLabelVisible()"
                @blur="hideLabel($event), arrowRotate()"
                @click="arrowRotate()"
            >
                <option 
                    value="" 
                    disabled 
                    :selected="true">{{$attrs.placeholder ? $attrs.placeholder : label}}</option>
                <option 
                    v-for="(item, index) in options" 
                    :key="index" 
                    :value="item"
                >{{item.name}}</option>
            </select>
            <div ref="select-arrow" class="jngr-input-select__arrow">
                <span v-if="loading" class="jngr-loader jngr-loader_style-2 jngr-spin-cw"></span>
                <span v-else class="jngr-chevron-right-icon"></span>
            </div>
        </div>

        <Validation v-if="showValidation" :valid="valid" :message="validationMessage" :note="note"/>
    </div>
</template>

<script>
import Validation from '@/lib-components/form/validation/Validation'
import Note from '@/lib-components/form/note/Note'

export default {
    name: 'JnGrSelectInput',

    inheritAttrs: false,

    components: {
        Validation,
        Note
    },
    props: {
        label: {type: String},
        note: {type: String},
        loading: { type: Boolean, default: false },
        labelActive: { type: Boolean, default: true },
        importedData: [String, Number, Object, Array],
        options: { type: Array, default: () => ([]) },
        default: { type: Object, default: () => ({}) },
        showValidation: { type: Boolean, default: true },
        valid: { type: Boolean, default: true },
        validationMessage: { type: String }
    },
    emits: ['value'],
    data() {
        return {
            selectedValue: '',
            inputLabel: this.label,
            showLabel: false
        }
    },
    computed: {
        listeners() {
            return {
                ...this.$listeners,
                input: event => 
                    this.$emit('input', event.target.value)
            }
        }
    },
    mounted() {
        if (this.autofocus) this.$refs['Input'].focus()
    },
    methods: {
        makeLabelVisible() {
            this.showLabel = true
        },
        hideLabel(event) {
            if (event.target.value === '') this.showLabel = false
        },
        arrowRotate() {
            this.$refs['select-arrow'].classList.toggle('jngr-input-select__arrow_down')
        }
    },
    watch: {
        selectedValue: {
            handler(val) {
                if (val) this.showLabel = true
                this.$emit('value', val)
            },
            immediate: true
        },
        importedData: {
            handler(val) {
                if (val && val.name) this.selectedValue = val
            },
            immediate: true
        },
        default: {
            handler(newVal) {
                if (newVal.length) this.selectedValue = newVal
            },
            immediate: true
        }
    }
}
</script>

<style lang="sass">
@import 'src/assets/styles/styles'
</style>