<template>
    <div class="jngr-checkbox__wrapper">
        <div class="jngr-checkbox__container" :class="{'jngr-validation__checkbox': !valid}">
            <div class="jngr-checkbox" :class="{'jngr-checkbox_active': checkedComputed}" @click="check()"></div>
            <span v-if="label" class="jngr-checkbox__label">{{ label }}</span>
        </div>
        <div v-if="!valid && validationMessage" class="jngr-validation__text"><span>обязательно для заполнения</span></div>
    </div>
</template>

<script>
export default {
    name: 'JmgrCheckbox',

    props: {
        label: {
            type: String,
            default: ''
        },
        isChecked: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        valid: {
            type: Boolean,
            default: true
        },
        validationMessage: {
            type: String
        }
    },
    emits: ['update:status'],
    data() {
        return {
            checked: this.isChecked
        }
    },
    computed: {
        checkedComputed() {
            return this.checked
        }
    },
    methods: {
        check() {
            this.checked = !this.checked
        }
    },
    watch: {
        isChecked: {
            handler(newVal, oldVal) {
                if (newVal !== oldVal) this.checked = newVal
            },
            immediate: true
        },
        checked: {
            handler(val) {
                this.$emit('update:status', this.checked)
            }
        }
    }
}
</script>

<style lang="sass">
@import 'src/assets/styles/styles'
</style>