<template>
        <div class="jngr-validation">
            <div class="jngr-validation__mark" :class="{'jngr-validation__mark_active': !valid}"></div>
            <transition name="fade" appear>
                <div v-if="!valid" class="jngr-validation__text">
                    <span class="validation-span">{{ message }}</span>
                </div>
            </transition>
            <Note :note="note"/>
        </div>
</template>

<script>
import Note from '@/lib-components/form/note/Note'

export default {
    name: 'JngrValidation',

    components: {
        Note
    },
    props: {
        valid: {
            type: Boolean,
            default: true
        },
        message: {
            type: String
        },
        note: {
            type: String
        }
    }
}
</script>